<template>
    <div class="panel">
        <div class="panel-body" border v-if="!is_login">
            <h1><i class="fas fa-user"></i> Ingreso de usuarios</h1>
            <input class="input-lg" type="email" v-model="email" placeholder="Ingrese su e-mail">
            <input type="password" class="input-lg" v-model="password" placeholder="Ingrese su contraseña">
            <button type="button" class="btn btn-success input-lag" @click="LoginUser">
                <i class="fas fa-user-secret" /> Ingresar
            </button>
            <div v-show="msg" v-bind:class="{'mt-2 alert-success':is_login, 'mt-2 alert-danger':!is_login}">
                <h1 v-bind:class="{'text-success':is_login, 'text-success':!is_login}">{{msg}}</h1>
            </div>
        </div>
        <div class="panel-body" v-else>
            <div class="mt-2 alert-success" >
                <h1>Bienvenido {{email}}</h1>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    export default {
        props: {
            //
        },
        data() {
            return {
                email: '',
                password:'',
                is_login: false,
                msg:'',
                credenciales: [],
            };
        },
        mounted() {
            this.credenciales = [{
                email: 'marcos@gmail.com',
                password:'marcos123'
            },
            {
                email: 'oscar@gmail.com',
                password:'oscar123'
            }];
        },
        computed: {
            //
        },
        methods: {
            LoginUser : function(){
                if(this.validateForm()){
                
                    var userArray = this.credenciales.filter(credencial => {
                        return credencial.email == this.email && credencial.password == this.password 
                    });

                    if(userArray.length){
                        this.msg = 'Confirmado';
                        this.is_login = true;
                    }else{
                        this.msg = 'Usuario o contraseña no válidos';
                        this.is_login = false;
                    }
                
                } else {
                    this.msg = 'Ingrese las credenciales';
                    this.is_login = false;
                }
            },
            validateForm : function(){
                var regex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(.\w{2,3})+$/;

                if(this.password.length >= 1 && this.email.length >= 1 && regex.test(this.email)){
                    return true;
                }
                return false;
            }
        },
        watch: {
            email: function(){
                if(!this.email){
                    this.msg = '';
                }
            },
            password: function(){
                if(!this.password){
                    this.msg = '';
                }
            },
            is_login: function(){
                if(this.is_login){
                    this.login = 'Logueado';
                }
            }
        },
    };
</script>