<template>
	<div>
		<header class="row bg-dark">
			<div class="col-6">
				<i class="fa fa-car text-white ps-2 pt-2" style="font-size:6em"></i>
			</div>
			<div class="col-6">
				<login v-bind:credenciales="credenciales"></login>
			</div>
		</header>
		<section>
			<article>
				<h1>Lorem ipsum dolor sit amet</h1>
				<p>
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
				</p>
				<p><img src="https://www.ecured.cu/images/thumb/7/7f/Monta%C3%B1a00.jpg/1200px-Monta%C3%B1a00.jpg" style="object-fit:cover;height:300px;width:100%"></p>
				<p><iframe src="https://www.youtube.com/embed/cugJDbFEql0" style="width:100%;height:300px;"></iframe></p>
			</article>
		</section>
		<footer>
			<p>Copyright C 2022</p>
		</footer>
	</div>
</template>

<script type="text/javascript">
import login from './login.vue';

export default {
	props: {
		credenciales:{
			required: true,
			type: Array,
		}
	},

	components: {
		login
	},
	data() {
		return {
		};
	},
	mounted() {


	},
	computed: {},
	methods: {

	},
	watch: {

	},
};
</script>

