<template>
    <div >
        <p style="text-align: center"><input  type="checkbox" v-model="addgame"> Agregar juego</p>
        <form v-show="addgame" style="max-width: 600px;">
            <div class="form-group">
                <label>Titulo</label>
                <input type="text" class="form-control"  placeholder="Ej: Dark Sin" v-model="titulo">
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input type="number" class="form-control"  placeholder="Ej: 10000" v-model="precio">
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <input type="text" class="form-control"  placeholder="Ej: Deportes" v-model="categoria">
            </div>
            <div class="form-group">
                <label>Descuento</label>
                <input type="number" class="form-control"  placeholder="Ej 25" v-model="descuento">
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="url" class="form-control"  placeholder="Ej: https://i.blogs.es/ac93b0/play-at-home/840_560.jpg" v-model="urlImagen">
            </div>
            <div class="form-group">
                <button type="button" @click="AddGame" class="btn btn-primary">Enviar</button>
            </div>
            <div v-if="error" class="alert alert-danger">
                <p>{{error}}</p>
            </div>

        </form>
    </div>
</template>
<script type="text/javascript">
import axios from 'axios';
export default {
    props: {
        juegos:{ 
            required:false,
            type: Array,
        },
    },

    data(){
        return {
            titulo:'',
            precio: null, 
            urlImagen: '', 
            categoria: '',
            descuento: null, 
            addgame:false,
            error:'',
        };
    },
    mounted() {
    },
    methods: {
        
        AddGame : function(){
            
            var juego = this.juegos.filter((juego)=>{
                return juego.titulo.toLowerCase() == this.titulo.toLowerCase();
            });

            if(juego.length != 0){
                this.error='El juego ya existe en la base de datos';
                return;
            }

            axios.post('http://127.0.0.1:10050/add.php', {
                titulo: this.titulo,
                precio: this.precio,
                urlImagen: this.urlImagen, 
                categoria: this.categoria,
                descuento: this.descuento
            })
            .then((response) =>{
                this.EmitirJuego(response.data);
            })
            .catch((error) => {
                alert(error);
            })
            .then(() => {
                console.log("aaaa");
            })

        },
        EmitirJuego: function(juego){
            this.$emit('emitirjuego',juego);
        },

    },
    computed:{

    },
    watch: {

    },
};
</script>