<template>
    <div class="col-12 col-md-4">
        <div class="card" >
            <img v-bind:src="juego.urlImagen" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title">{{juego.titulo}} / {{juego.categoria}}</h5>
                <h6 class="card-title">$ {{juego.precio}} / {{juego.descuento}}</h6>

                <p><input type="checkbox" v-model="cantidad" v-bind:value="posicion"> Comprar</p>
                <p><button class="btn btn-danger text-white" @click="DelGame">&times; Borrar</button></p>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
import axios from 'axios';

export default {
	props: {
		juego:{ 
			required:true ,
			type: Object
		},
		posicion : {
			required:true ,
			type: Number,
		}
	},

	data(){
		return {
			cantidad:[],
		};
	},
	mounted() {

	},
	methods: {
		DelGame : function(){
            axios.post('http://127.0.0.1:10050/del.php', {
                id_juego: this.juego.id,
            })
            .then((response) =>{
                this.EmitirBorrar(response.data.id );
            })
            .catch((error) => {
                console.error(error);
            })
            .then(() => {
                console.log("aaaa");
            })

        },
        EmitirBorrar: function(id){
            this.$emit('emitirborrar',id);
        },
	},
	computed:{

	},
	watch: {

	},
};
</script>