<template>
	<div id="login" class="panel text-white">
		<span><i class="fas fa-user"></i> Ingreso de usuarios</span>
		<div class="row" v-if="!logged">
			<div class="col-4">
				<input class="input-lg" type="email" v-model="email" placeholder="Ingrese su e-mail">
			</div>
			<div class="col-4">
				<input type="password" class="input-lg" v-model="password" placeholder="Ingrese su contraseña">
			</div>
			<div class="col-4">
				<button type="button" class="btn btn-sm btn-success" @click="LoginUser">
					<i class="fas fa-arrow-alt-circle-right"></i> Ingresar
				</button>
			</div>
			<p v-show="msg" v-bind:class="{'text-success':logged, 'text-warning':!logged}">{{msg}}</p>
		</div>
		<div class="col-12" v-else>
			<div class="mt-2 alert-success" >
				<h1>Bienvenido {{email}}</h1>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
export default {
	props: {
		credenciales:{
			required: true,
			type: Array,
		}
	},

	data(){
		return {
			email: '',
			password:'',
			msg:'',

		};
	},
	mounted() {

	},
	methods: {
		LoginUser : function(){
			if(this.validateForm()){
				var userArray = this.credenciales.filter(credencial => {
					return credencial.email == this.email && credencial.password == this.password 
				});

				if(userArray.length){
					this.msg = 'Confirmado';
				} else {
					this.msg = 'Usuario o contraseña no válidos';
				}
			} else {
				this.msg = 'Ingrese las credenciales';
			}
		},
		validateForm : function(){
			var regex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(.\w{2,3})+$/;

			if(this.password.length && this.email.length && regex.test(this.email)){
				return true;
			}
		}
	},
	computed:{
		logged:function(){
			return this.msg == "Confirmado"
		}
	},
	watch: {
		email: function(){
			if(!this.email){
				this.msg = '';
			}
		},
		password: function(){
			if(!this.password){
				this.msg = '';
			}
		},
	},
};
</script>