<template>
	<div>
		<header class="text-white">
			<div id="myNav" class="overlay">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<div class="overlay-content">
                    <a href="#">About</a>
					<a href="#">Services</a>
					<a href="#">Clients</a>
					<a href="#">Contact</a>
				</div>
			</div>

        <div class="row bg-dark">
            <div class="col">			
                <span style="font-size:30px;cursor:pointer" @click="openNav()">&#9776; <i class='fas fa-gamepad'></i></span>
            </div>
            <div class="col">
                 <login v-bind:credenciales="credenciales"></login>
                 <span style="font-size:30px;"><i class="fa fa-shopping-cart"></i>({{total}})</span>
            </div>
        </div> 
        </header>
		
        <section>
            <formadd v-bind:juegos="juegos"  v-on:emitirjuego="ActualizarLista"></formadd>
            <div style="text-align: center;margin:0 auto 0 auto">
                <i v-if="!juegoLoad" class="fa fa-spinner fa-spin" style="font-size:50px"></i>
            </div>
            <div class="container-fluid mt-4">
                <div class="row justify-content-center">
                    <div class="form-group mb-4">
                        <input type="text" v-model="search" class="form-control input-lg"  placeholder="Buscar..."/>
                    </div>
                    <template v-for="(juego,index) in filterSearch">
                        <div class="col-12 col-md-4" v-bind:key="index + '_juego'">
                            <itemjuego v-on:emitirborrar="BorrarGameByID" :juego="juego" :posicion="index"></itemjuego>
                        </div>
                    </template>
                </div>
            </div>
        </section>

		<footer>
			<p>Copyright C 2022</p>
		</footer>
	</div>
</template>

<script type="text/javascript">
import login from './login.vue';
import itemjuego from './item.vue';
import formadd from './formadd.vue';
import axios from 'axios';

export default {
    props: {
        credenciales:{
            required: true,
            type: Array,
        }
    },

	components: {
		login,
        itemjuego,
        formadd
	},
	data() {
		return {
            juegos:[],
            search: '',
            cantidad: [],
		};
	},
	mounted() {
        this.LoadGames();
	},
	computed: {
        filterSearch: function(){
            if(!Object.keys(this.juegos)){
                return [];
            }
            return this.juegos.filter(x => {
                return !this.search || x.titulo.toLowerCase().indexOf(this.search.toLowerCase()) > -1
            });
        },
        total : function(){
            return this.cantidad.length;
        },
        juegoLoad: function(){
            return this.juegos.length > 0;
        }

    },
	
    methods: {
        filterMedia:function(val){
            console.log(val);
        },

        LoadGames:function(){
            axios.get('http://127.0.0.1:10050/list.php') 
            .then((response) =>{
                if(typeof response.data  == 'object' ){
                    response.data = Object.values(response.data)
                }console.log(response.data)
                this.juegos = response.data;
            })
            .catch((error) => {
                console.log(error);
            })
            .then(() => { 
            }) 
        },
        BorrarGameByID : function(id){
            this.juegos = this.juegos.filter(juego => {
                return id != juego.id;
            });            

        },
        ActualizarLista : function(juego){
            this.juegos.push(juego);
        }

	},
	watch: {

	},
};
</script>
