<template>
	<div id="app">
		<contenedor v-bind:credenciales="credenciales"></contenedor>
		<!--<axiosajax></axiosajax>-->
	</div>
</template>

<script>
import contenedor from './components/maincont.vue';
import axios from 'axios';

//import axiosajax from './components/axios.vue';

export default {
	components: {
		contenedor,
		//axiosajax,
	},
	data() {
		return {
			credenciales:[],
		};
	},
	mounted() {
		axios.get('http://127.0.0.1:10050/credentials.php')
		.then((response) =>{
			this.credenciales = response.data;
		})
		.catch((error) => {
			alert(error);
		})
		.then(() => {
			console.log("aaaa");
		})
		

	},
}
</script>